@keyframes scroll-down {
  0% {
    transform: translateY(-33.33%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.33%);
  }
}

.animate-scroll-down {
  animation: scroll-down 20s linear infinite;
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}

/* Pause animation on hover */
.animate-scroll-up:hover,
.animate-scroll-down:hover {
  animation-play-state: paused;
} 

@media (max-width: 1400px) {
  .images-carousel-landing {
    display: none;
  }
}