@import "tailwindcss";

:root {
  --body-background: #FFFFFF;
  --background: #F8F8FD;
  --text-focus: #4640DE;
  --text-not-focus: #7C8493;
  --text-title: #25324B;
  --light-border: #D6DDEB;
  --item-focus: #E9EBFD;
  --text-black: #000000;
}

/* Dark theme variables */
/*@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #1a1a1a;
    --background: #1a1a1a;
    --text-focus: #ffffff;
    --text-not-focus: #a0a0a0;
    --text-title: #3291ff;
    --light-border: #D6DDEB;
    --item-focus: #E9EBFD;
  }
}*/

body {
  font-family: Inter, sans-serif;  
  background-color: var(--body-background);
}

.text-black {
  color: var(--text-black);
}


.text-focus-color {
  color: var(--text-focus);
}

.text-not-focus-color {
  color: var(--text-not-focus);
}

.sidebar {
  background-color: var(--background);
}

.menu-item:hover {
  background-color: var(--item-focus);
  color: var(--text-focus);
}

.menu-item:hover span {
  color: var(--text-focus);
}

.menu-item-no-focus-line {
  padding-left: 4px;
}

.menu-item-focus-line {
  border-left: 4px solid var(--text-focus);
}

.hover-icon-parent:hover .icon-hover {
  color: var(--text-focus);
}

.border-light {
  border-bottom: 1px solid var(--light-border);
}
@font-face {
  font-family: "Big_Shoulder_Stencil";
  src: url("/Fonts/Big_Shoulders_Stencil/BigShouldersStencil-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Big_Shoulders_Inline";
  src: url("/Fonts/Big_Shoulders_Inline/BigShouldersInline-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Monomakh";
  src: url("/Fonts/Monomakh/Monomakh-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Shafarik";
  src: url("/Fonts/Shafarik/Shafarik-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@theme {
  --font-bigShoulderStencil: "Big_Shoulder_Stencil", sans-serif;
  --font-bigShoulderInline: "Big_Shoulders_Inline", sans-serif;
  --font-shafarik: "Shafarik", sans-serif;
  --font-monomakh: "Monomakh", sans-serif;
  --color-landingDark: #202430;
  --color-span: #26a4ff;
  --color-menuItem: #7C8493;
  --color-menuHover: #4640DE;
  --color-menuItemFocus: #E9EBFD;
  --color-textTitle: #25324B;
  --color-lightBackground: #F8F8FD;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo-gradient {
  background-image: linear-gradient(
    to right,
    #1f70b7,
    #61246c,
    #bd1522,
    #f29100,
    #39a934,
    #027d73
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
