@import "tailwindcss";

:root {
  --color-primary: #4640de;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--body-background);
}

.text-focus-color {
  color: var(--text-focus);
}

.text-not-focus-color {
  color: var(--text-not-focus);
}

.sidebar {
  background-color: var(--background);
}

.menu-item:hover {
  background-color: var(--item-focus);
  color: var(--text-focus);
}

.menu-item:hover span {
  color: var(--text-focus);
}

.menu-item-no-focus-line {
  padding-left: 4px;
}

.menu-item-focus-line {
  border-left: 4px solid var(--text-focus);
}

.hover-icon-parent:hover .icon-hover {
  color: var(--text-focus);
}

@font-face {
  font-family: "Big_Shoulder_Stencil";
  src: url("/Fonts/Big_Shoulders_Stencil/BigShouldersStencil-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Big_Shoulders_Inline";
  src: url("/Fonts/Big_Shoulders_Inline/BigShouldersInline-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Monomakh";
  src: url("/Fonts/Monomakh/Monomakh-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Shafarik";
  src: url("/Fonts/Shafarik/Shafarik-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@theme {
  --font-bigShoulderStencil: "Big_Shoulder_Stencil", sans-serif;
  --font-bigShoulderInline: "Big_Shoulders_Inline", sans-serif;
  --font-shafarik: "Shafarik", sans-serif;
  --font-monomakh: "Monomakh", sans-serif;
  --color-landingDark: #202430;
  --color-span: #26a4ff;
  --color-primary: #4640de;
  --color-menuItem: #7c8493;
  --color-menuItemFocus: #e9ebfd;
  --color-textTitle: #25324b;
  --color-lightBackground: #f8f8fd;
  --color-openColor: #56cdad;
  --color-closedColor: #ff6550;
  --color-freelanceColor: #ffb836;
  --breakpoint-xs: 30rem;
  --color-borders: #d2d6ff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo-gradient {
  background-image: linear-gradient(
    to right,
    #1f70b7,
    #61246c,
    #bd1522,
    #f29100,
    #39a934,
    #027d73
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.border-open {
  border-color: var(--color-openColor);
}

.border-closed {
  border-color: var(--color-closedColor);
}

.border-fulltime {
  border-color: var(--color-primary);
}

.border-freelance {
  border-color: var(--color-freelanceColor);
}

.text-openColor {
  color: var(--color-openColor);
}

.text-closedColor {
  color: var(--color-closedColor);
}

.text-fulltimeColor {
  color: var(--color-fulltimeColor);
}

.text-freelanceColor {
  color: var(--color-freelanceColor);
}

.p-chips-multiple-container {
  width: 100%;
}

/*PrimeReact - JobForm*/
.p-stepper {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .p-stepper {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
  }

  .p-stepper-action {
    flex-direction: column;
  }
  
  .p-stepper-title {
    background-color: yellowgreen;
    font-size: 0.8rem;
    margin: 0;
  }
  .p-stepper-content {
    background-color: black;
    width: 100%;
    margin: auto;
  }

  .p-stepper-panels {
    padding: 0;
    margin: 1rem 0;
  }

  .p-stepper-separator {
    display: none;
  }
}
